.basenavbar {
    background-color: #FDEBD0; /* Light sandy beige */
    padding: 10px;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid #FFD700; /* Gold for a sunny touch */
  }
  .cart-icon {
    width: 30px;  /* Make the cart icon smaller */
    height: 30px; /* Keep the aspect ratio */
    cursor: pointer;
    margin-left: 10px; /* Reduce space between cart icon and links */
    transition: transform 0.3s ease;
  }
  .cart-container {
    position: relative;
    display: inline-block;
  }

  .cart-badge {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 7px;
    font-size: 12px;
  }

  .cart-icon-and-badge {
    position: relative;
    display: inline-block;
  }
  
  .cart-icon {
    width: 30px; /* Adjust size as needed */
    height: 30px;
  }


  .linknavbar {
    display: flex; /* Use flexbox to align content */
    color: #4A90E2; /* Sky blue */
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .linknavbar:hover {
    background-color: #FFC0CB; /* Light pink for hover effect */
    color: white;
  }
  
  /* Active link */
  .linknavbar.active {
    background-color: #FFD700; /* Gold for active link */
    color: white;
  }
  
  /* Mobile responsiveness */
  @media (max-width: 768px) {
    .basenavbar {
      flex-direction: column;
      align-items: flex-start;
    }
    
    .linknavbar {
      margin: 5px 0;
    }
  }